.label {
  @apply text-[#4F4F4F] text-sm pl-4 block pb-1 font-Montserrat md:pb-2 md:text-xl xl:block xl:w-full xl:text-base;
}

.label-error {
  @apply text-[#FF0000];
}

.input,
.textarea {
  @apply w-full bg-[#FAFAFA] border-[1px] border-[#E4E4E4] text-sm p-3 h-[50px] rounded-3xl mb-7 font-Montserrat md:text-xl xl:text-base;
}

.input-container {
  @apply flex flex-col w-full;
}

.textarea {
  @apply min-h-[120px] xl:w-full xl:min-h-[150px];
}

.input-error,
.textarea-error {
  @apply border-2 border-[#FF0000] outline-[#FF0000];
}

.radio-container {
  @apply flex justify-center border-[1px] border-[#E4E4E4] w-full h-[50px] p-3 rounded-3xl mb-7 bg-[#FAFAFA] md:text-xl xl:text-base;
}

.radio-button {
  @apply flex items-center sm:w-1/6;
}

.radio {
  @apply mr-2 w-[25px] h-[25px];
}

.radio-error {
  border: 2px solid red;
}

.select-container {
  @apply relative pb-[80px];
}

.select {
  @apply w-full block border-[1px] border-[#E4E4E4] p-3 mb-7  h-[50px] rounded-3xl bg-[#FAFAFA] text-[black] md:text-xl xl:text-base overflow-hidden;
}

.select-error {
  border: 2px solid red;
}

.select-placeholder {
  @apply text-[#C9C9C9] md:text-xl xl:text-base;
}

.checkbox-container {
  @apply w-full flex mb-4 mt-3 justify-center 2xl:w-3/5;
}

.checkbox-container .label {
  @apply flex-1 pl-0 pb-0 xl:text-sm block;
}

.checkbox-checkmark {
  @apply w-full h-full bg-[#579CE2] rounded-full;
}

.checkbox {
  @apply w-[25px] h-[25px] rounded-full p-1 mr-4;
  border: 2px solid #968c8c63;
  backdrop-filter: blur(4px);
}

.checkbox-error {
  border: 2px solid red;
}

@media only screen and (min-width: 1280px) {
  .input-container,
  .select-container,
  .radio-buttons-box {
    width: 49%;
  }
}

@media only screen and (min-width: 280px) {
  .radio-button {
    @apply w-1/3;
  }

  .radio {
    @apply p-0;
  }
}

@media only screen and (min-width: 320px) {
  .radio-button {
    @apply w-1/4;
  }

  .radio {
    @apply p-0;
  }
}

@media only screen and (min-width: 500px) {
  .radio-button {
    @apply w-1/6;
  }

  .radio {
    @apply p-0;
  }
}
