.container {
  @apply relative w-full bg-[#FAFAFA] rounded-[30px] my-2 px-5 md:px-10 lg:px-[30];
  display: flex;
  flex-direction: column;
}

.contentBox {
  @apply flex-1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.header {
  @apply flex justify-between items-start;
}

.title {
  @apply text-[#FAC13C] text-[20px] font-bold my-3 md:text-[25px] lg:text-[30px];
}

.content {
  @apply block w-full text-[#6D6D6D] leading-[19.2px] md:text-[20px] md:leading-[26px] xl:mb-[60px] ;
}

.createdAt {
  @apply text-[#6D6D6D] text-[16px] md:text-[18px] lg:text-[24px];
}

.buttonContainer {
  @apply self-end;
  align-self: flex-start;
}

.buttonRead {
  @apply mt-5 bg-blue-500 text-white text-[16px] md:text-[18px] lg:text-[24px];
  padding: 0.5rem 0.8rem;
}
